
body{
    font-family: helvetica, sans-serif;
}

header{
    background-color: #B0E0E6;
}

.quem-somos{
    background-color:#F8E6E0;
    
}

h3{
    margin-bottom: 50px;
}

h4{
    margin-top: 30px;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.rounded-circle{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.parceiros {
    background-color: #F6CECE;
}

.bg-footer {
    background-color: #5882FA;
    padding-top: 30px;
    padding-bottom: 40px;
    color: blanchedalmond;
}